div {
    margin: 0;
}
pre {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}
div.block {
    background-color: #36C;
    min-width: 200px;
    height: 100px;
    float: left;
    padding: 10px;
            
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-family: Helvetica;
            
    position:absolute;
}

div#inputSidebar {
    height: 100vh;
    width: 100px;
    background-color: #66cdaa;
    float: left;
}

div#outputSidebar {
    height: 100vh;
    width: 100px;
    background-color: #66cdaa;
    float: right;
}

.socket {
    width: 100%;
    box-sizing: border-box;
    min-height: 150px;
    background-color: #ccc;
    margin-top: 10px;
}

.socket input {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

div#toolboxSidebar {
    height: 100vh;
    width: 100px;
    float: left;
    background-color: #d5a5ff;
}
div#toolboxSidebar input { clear: both; display: block; }

div#workspace {
    height: 100vh;
    width: 100vw;
}

/* jsPlumb */
._jsPlumb_endpoint {
    cursor: pointer;
    z-index: 100;
}
